/preprocessing/API_KEY.txt
/text-classification/model.bin
/text-classification/data/dbpedia_train.csv
/text-classification/data/dbpedia_test.csv
/text-classification/data/dbpedia_csv/train.csv
/text-classification/data//dbpedia_csv/test.csv
/text-classification/data/dbpedia_csv.tar.gz
/text-classification/d2v.model
/text-classification/glove.6B.zip
/text-classification/data/glove.6B.100d.txt
/text-classification/data/glove.6B.200d.txt
/text-classification/data/glove.6B.300d.txt
/text-classification/data/glove.6B.50d.txt
/information-extraction/data/*
/information-extraction/ner-conll2003/*
/information-extraction/Azure-API-key.txt
